{
	"extends": ["airbnb", "airbnb/hooks", "prettier"],
	"plugins": ["prettier"],
	"parserOptions": {
	  "ecmaVersion": 2020,
	  "ecmaFeatures": {
		"jsx": true,
		"experimentalObjectRestSpread": true
	  }
	},
	"rules": {
		"linebreak-style": ["error", "windows"],
		"react/button-has-type": "off" ,
		"react/react-in-jsx-scope": "off",
		"no-undef": "off",
	},
	"settings": {
		"import/resolver": {
		  "eslint-import-resolver-custom-alias": {
			"alias": {
			  "@src": "./src",
			  "@components": "src/components",
			  "@pages": "src/pages",
			  "@constants": "src/constants",
			  "@store": "src/store",
			  "@utils": "src/utils",
			  "@hooks": "src/hooks"
			},
			"extensions": [".js", ".jsx"],
			"packages": ["packages/*"]
		  }
		}
	  }
  }
  